@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
/*   Sass Template  */
/*  Global classes  */
body {
  background-color: #0A0F23;
  margin: 0;
  padding: 0;
}

.container-expand {
  margin-left: 20px;
  margin-right: 20px;
}

.button-register {
  box-shadow: none !important;
  background: #0A0F23;
  color: #ffffff;
  border: 0;
  outline: 1px solid #FFB341;
  height: 35px;
  width: 125px;
  border-radius: 4px;
  padding: 10px, 32px, 10px, 32px;
}

.button-sponsor {
  box-shadow: none !important;
  outline: none !important;
  border: 0;
  height: 72px;
  width: 363px;
  font-family: "Nunito Sans", cursive;
  font-weight: 700;
  border-radius: 4px;
  padding: 10px, 32px, 10px, 32px;
  color: #ffffff;
  background-image: linear-gradient(to right, #FFB341, #DF8806);
}

@media screen and (max-width: 400px) {
  .button-sponsor {
    width: 250px;
  }
}
.bg-light-color {
  background-color: #0A0F23;
}

.color-text {
  color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  margin-right: 25px;
  font-weight: 400;
  font-family: "Nunito Sans", cursive;
  line-height: 21.82px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.navbar-light .navbar-nav .nav-item {
  color: #ffffff;
  margin-right: 25px;
  font-weight: 400;
  font-family: "Nunito Sans", cursive;
  line-height: 21.82px;
}

.box {
  background: url("assets/hero.png") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 1200px;
  box-sizing: border-box;
}

.box-content {
  margin: 12% auto;
}

h1 {
  font-family: "Nunito Sans", cursive;
  font-size: 74px;
  font-style: normal;
  font-weight: 800;
  line-height: 84px;
  letter-spacing: 0.200000003px;
  text-align: center;
  color: #ffffff;
}

.packages-section h2 {
  font-family: "Nunito Sans", cursive;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.200000003px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 50px;
}

.span-text {
  color: #DF8806;
}

.box-text {
  font-family: "Nunito Sans", cursive;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.200000003px;
  text-align: center;
  color: #ffffff;
}

.boxB {
  border: 1px solid #D6D6D6;
  border-radius: 9.73px;
  box-sizing: border-box;
  padding: 20px 25px;
}

.boxB:hover {
  border: 2px solid #FFB341;
}

@media screen and (max-width: 600px) {
  .card-sections {
    flex-direction: column;
  }

  .card-sections .boxB {
    margin-bottom: 10px;
  }
}
.boxB h5 {
  font-family: "Nunito Sans", cursive;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.0972672999px;
  text-align: center;
  color: #ffffff;
}

.boxB p {
  font-family: "Nunito Sans", cursive;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.200000003px;
  text-align: center;
  color: #D6D6D6;
}

.section-margin {
  margin-top: 150px;
}

@media screen and (max-width: 600px) {
  .section-margin {
    margin-top: 50px;
  }
}
.extend {
  margin: 10% auto;
}

.mission2 {
  margin: 0 auto 10% 10%;
}

.mission h2 {
  font-family: "Nunito Sans", cursive;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.200000003px;
  text-align: left;
  color: #ffffff;
}

.mission2 h2 {
  font-family: "Nunito Sans", cursive;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.200000003px;
  text-align: left;
  color: #ffffff;
}

.mission p {
  font-family: "Nunito Sans", cursive;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.200000003px;
  text-align: left;
  color: #D6D6D6;
}

.mission2 p {
  font-family: "Nunito Sans", cursive;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.200000003px;
  text-align: left;
  color: #D6D6D6;
}

.mission-section .mission-image img {
  width: 100%;
}

.mission-section2 .mission-image img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .mission-section {
    flex-direction: column;
  }

  .mission h2 {
    text-align: center;
  }

  .mission p {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .mission-section {
    flex-direction: column;
  }

  .mission h2 {
    text-align: center;
  }

  .mission p {
    text-align: center;
  }
}
.boxc {
  background: url("assets/cert.png") no-repeat center center;
  background-size: contain;
  height: 565px;
  width: 100%;
  border-radius: 24px;
  padding: 10px;
  margin: 0 auto 0;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .boxc {
    margin: 0;
    max-height: 300px;
  }
}
.certify h2 {
  font-family: "Nunito Sans", cursive;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.200000003px;
  text-align: center;
  color: #ffffff;
}

.certify p {
  font-family: "Nunito Sans", cursive;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.200000003px;
  text-align: center;
  color: #D6D6D6;
}

.navbar-light .navbar-toggler {
  background-color: #FFB341;
}

/*  typography classes  */
.font-nunito {
  font-family: "Nunito Sans", cursive;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
