$font-nunito:"Nunito Sans", cursive;
$color-primary: #0A0F23;
$gradient-color: #FFB341;
$gradientB-color: #DF8806;
$color-white: #ffffff;
$color-ash: #1C1F2C;
$button-bg-gradient: #3F64F7;
$button-bgb-gradient: #5319B2;
$button-bgc-gradient: #4940D6;
$footer-bg-color: #090C16;
$color-fade: #D6D6D6;
$color-green: #00E676;
$color-greenB: #00F87F;
$color-red: #EA4335;
$color-redB: #B60E00;




